# Data for the Toronto neighourhoods assignment

This notebook contains the operations to obtain and manipulate geographical data for Toronto neighourhoods. It is the week three assignment in the Coursera Data Science Capstone project.

## Import '.csv'

Information on the Toronto neighourhoods can be obtained from [https://open.toronto.ca/dataset/neighbourhoods/](https://open.toronto.ca/dataset/neighbourhoods/), which is published by the Toronto city government. This site has been found by examining the [Wikipedia site](https://en.wikipedia.org/wiki/List_of_neighbourhoods_in_Toronto) and provides _open data_ that is more readily accessible than by scraping. The information can be downloaded as a '.csv' file and must first be stored locally before it can be read into a dataframe.

In [38]:
import pandas as pd

path = '~/Documents/Projects/Coursera-Capstone/geodata/Neighbourhoods.csv'

toronto_data = pd.read_csv(path)

## Clean data

Data can be cleaned by dropping unwanted columns. The data format of the neighourhood names is edited so as to be more compatible with external data sources.

In [41]:
# Select neighourhood names and locations and store in a smaller dataframe
nbhs = toronto_data[['AREA_NAME', 'AREA_LONG_CODE', 'LONGITUDE', 'LATITUDE']]

# Clean neighourhood names by removing the area codes. 
nbhs['AREA_NAME'] = toronto_data['AREA_NAME'].str.split('(').str[0]

# Rename columns
nbhs.columns = ['Neighbourhood', 'Area code', 'Longitude', 'Latitude']

nbhs.sort_values(by='Area code', inplace=True)

# Inspect first five rows of the dataframe
nbhs.head()

<ipython-input-41-ba21103036f1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nbhs['AREA_NAME'] = toronto_data['AREA_NAME'].str.split('(').str[0]
<ipython-input-41-ba21103036f1>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nbhs.sort_values(by='Area code', inplace=True)

                          Neighbourhood  Area code  Longitude  Latitude
24              West Humber-Clairville           1        NaN       NaN
34   Mount Olive-Silverstone-Jamestown           2        NaN       NaN
124       Thistletown-Beaumond Heights           3        NaN       NaN
122                    Rexdale-Kipling           4        NaN       NaN
48                    Elms-Old Rexdale           5        NaN       NaN

In [42]:
# Check that the dataframe contains all 140 neighbourhoods
nbhs.describe(include='all')

              Neighbourhood  Area code  Longitude  Latitude
count                   140   140.0000        0.0       0.0
unique                  140        NaN        NaN       NaN
top     Caledonia-Fairbank         NaN        NaN       NaN
freq                      1        NaN        NaN       NaN
mean                    NaN    70.5000        NaN       NaN
std                     NaN    40.5586        NaN       NaN
min                     NaN     1.0000        NaN       NaN
25%                     NaN    35.7500        NaN       NaN
50%                     NaN    70.5000        NaN       NaN
75%                     NaN   105.2500        NaN       NaN
max                     NaN   140.0000        NaN       NaN